<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>School Donations Dashboard</title>
    <link rel="stylesheet" href="/static/lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/lib/css/keen-dashboards.css">
    <link rel="stylesheet" href="/static/lib/css/dc.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/lib/css/introjs.css"/>
</head>

<body class="application">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">

            <a class=" navbar-brand" href="./" title="logo">
                <img style="max-width:500px; margin-left: 30px" src="/static/img/logo.png">
            </a>

            <!--menu select-->
            <a class="navbar-brand" style="margin-top: 69px; margin-left: 200px; margin-right: 10px;">
                    <div id="menu-select"></div>
            </a>
            <!--menu select -->

            <a class="intro_button navbar-brand" autofocus onclick="javascript:introJs().start();">
                Start Tour!
            </a>
        </div>
    </div>
</div>

<div id="outer" class="container-fluid">

    <div class="row">

        <div class="col-sm-12">
            <div class="row">

                <!--Time Chart -->
                <div class="col-sm-8">
                    <div class="chart-wrapper" data-step=" 1 " data-intro=" The description that you want"
                         style="font-weight: normal" data-position="right">
                        <div class="chart-title">
                            Number of Donations
                        </div>
                        <div class="chart-stage">
                            <div id="time-chart"></div>
                        </div>
                    </div>
                </div>
                <!--Time Chart -->

                <!--Resources-->
                <div class="col-sm-4">
                    <div class="chart-wrapper" data-step=" 2 " data-intro=" The description that you want"
                         style="font-weight: normal" data-position="left">
                        <div class="chart-title">
                            Resources Type
                        </div>
                        <div class="chart-stage">
                            <div id="resource-type-row-chart"></div>
                        </div>
                    </div>
                </div>
                <!--Resources-->

                <!--Resources-->
                <div class="col-sm-4">
                    <div class="chart-wrapper" data-step=" 3 " data-intro=" The description that you want"
                         style="font-weight: normal" data-position="right">
                        <div class="chart-title">
                            School Metro Area
                        </div>
                        <div class="chart-stage">
                            <div id="resource-type-row-chart2"></div>
                        </div>
                    </div>
                </div>
                <!--Resources-->

                <!--funding Pie-->
                <div class="col-sm-4">
                    <div class="chart-wrapper" data-step=" 4 " data-intro=" The description that you want"
                         style="font-weight: normal" data-position="right">
                        <div class="chart-title">
                            Funding Status
                        </div>
                        <div class="chart-stage">
                            <div id="funding-chart"></div>
                        </div>
                    </div>
                </div>
                <!--funding Pie -->

                <!--Poverty-->
                <div class="col-sm-4">
                    <div class="chart-wrapper" data-step="5" data-intro="The description that you want"
                          data-position="left">
                        <div class="chart-title">
                            Poverty Level
                        </div>
                        <div class="chart-stage">
                            <div id="poverty-level-row-chart"></div>
                        </div>
                    </div>
                </div>
                <!--Poverty-->

                <!--menu select-->
                <div class="col-sm-3">
                </div>
                <!--menu select -->

                <!--Metric 1 -->
                <div class="col-sm-3">
                    <div class="chart-wrapper" data-step=" 6 " data-intro=" The description that you want"
                         style="font-weight: normal" data-position="right">
                        <div class="chart-title">
                            Total Number of Donations
                        </div>
                        <div class="chart-stage" style="
                            background: #F48120;
                            position: relative;
                            font-size: 29px;
                            color:white;
                            vertical-align: middle;
                            text-align: center;
                            padding-top: 12px;
                            padding-bottom: 0;">
                            <div id="number-projects-nd"></div>
                        </div>
                    </div>
                </div>
                <!--Metric1 -->

                <!--Metric 2 -->
                <div class="col-sm-3">
                    <div class="chart-wrapper" data-step=" 7 " data-intro=" The description that you want"
                         style="font-weight: normal" data-position="right">
                        <div class="chart-title">
                            Total Donations in USD
                        </div>
                        <div class="chart-stage" style="
                            background: #F48120;
                            position: relative;
                            font-size: 29px;
                            color:white;
                            vertical-align: middle;
                            text-align: center;
                            padding-top: 12px;
                            padding-bottom: 0;">
                            <div id="total-donations-nd"></div>
                        </div>
                    </div>
                </div>
                <!--Metric 2 -->

                <!--menu select-->
                <div class="col-sm-3">
                </div>
                <!--menu select -->

            </div>
        </div>

    </div>
</div>

<footer>
    <div class="row">
        <div class="col-sm-12">
            <a>Data viz &#9829; from Code Institute</a>
        </div>
    </div>
</footer>

<script src="/static/lib/js/jquery.min.js"></script>
<script src="/static/lib/js/bootstrap.min.js"></script>
<script src="/static/lib/js/crossfilter.js"></script>
<script src="/static/lib/js/d3.js"></script>
<script src="/static/lib/js/dc.js"></script>
<script src="/static/lib/js/queue.js"></script>

<script src="/static/lib/js/keen.min.js"></script>
<script src='/static/js/graph.js' type='text/javascript'></script>
<script src="/static/lib/js/intro.js" type="text/javascript"></script


</body>
</html>